.home{
display: flex;
justify-content: center;
}


.users{
    margin-top: 2rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    border: 1px solid black;

    
    



}